<%- include('../partials/header') %>

<h3 class="profile-padding"><%= title %></h3>

<h4 class="profile-padding">Your Allergies:</h4>
<div class="profile-padding-no-top">
    <!-- <p class="profile-padding">view your allergies</p>
    <p class="profile-padding"><%=allergies%></p>
    <p class="profile-padding">view your Object.entries(obj)</p>
    <p class="profile-padding"><%=Object.entries(allergies)%></p>
    <p class="profile-padding">view allergy array</p>
    <p class="profile-padding"><%=allergyArray%></p>
    <p class="profile-padding">second allergy</p>
    <p class="profile-padding"><%=allergyArray[1]%></p>
    <p class="profile-padding">typeof</p>
    <p class="profile-padding"><%=typeof(allergyArray)%></p>
    <p class="profile-padding">length</p>
    <p class="profile-padding"><%=allergyArray.length%></p>
    <p class="profile-padding">allergies.gluten</p>
    <p class="profile-padding"><%=allergies.gluten%></p> -->

    <% if (!user.allergies){ %>
    <p><%-'There are no allergies associated with this account'%></p>
    <%} else {%>
    <% for (i=0; i<(allergyArray.length-4); i++){ %>
    <% if (allergies[allergyArray[i]] === true) {%>
    <li>
        <%if (allergyArray[i] === "gluten") {%> <%="Gluten"%> <% } %>
        <%if (allergyArray[i] === "dairy") {%> <%="Dairy"%> <% } %>
        <%if (allergyArray[i] === "eggs") {%> <%="Eggs"%> <% } %>
        <%if (allergyArray[i] === "finFish") {%> <%="Fin Fish"%> <% } %>
        <%if (allergyArray[i] === "shellfish") {%> <%="Shellfish"%> <% } %>
        <%if (allergyArray[i] === "treeNuts") {%> <%="Tree Nuts"%> <% } %>
        <%if (allergyArray[i] === "peanuts") {%> <%="Peanuts"%> <% } %>
        <%if (allergyArray[i] === "soybeans") {%> <%="Soybeans"%> <% } %>
    </li>
    <% } %>
    <% } %>
    <% } %>
</div>
<div>
    <section class="profile-padding">
        <%=user.allergies?'yes, there are allergies associated with this user':'no'%></br>
        <a href="/users/allergies/new" class="badge badge-info profile-padding-no-top"
            style="font-size:larger"><%-user.allergies?'Edit Allergies': 'Add Allergies'%></a>
    </section>
</div>

<h5 class="profile-padding">Recipes You've Added:</h5>
<div class='wrapper'>
    <% if (recipes.length) {%>
    <% recipes.forEach(function(r) { %>
    <div class="card" style="width:18rem;">
        <img class=" card-img-top" src="<%=r.imageUrl%>" alt="<%=r.recipeName%> image">
        <div class="card-body">
            <h5 class="card-title"><%= r.name %></h5>
            <!-- <p class="card-text">this recipe is <%= include('../partials/allergyLogic') %> free</p> -->
            <form action="/recipes/<%=r._id%>/update?_method=PUT" method="POST"><button class="btn btn-primary">Edit
                    this
                    Recipe</button></form>
            <a href="<%=r.recipeUrl%>" class="btn btn-primary" target="_blank">View this recipe at <%=r.blogName%> </a>
        </div>
    </div>

    <% }); %>
    <% } else { %>
    <h5 class="profile-padding">You haven't added any recipes yet! </h5>
    <% } %>
</div>

<%- include('../partials/footer') %>