<%- include('../partials/header') %>

<h3><%= title %></h3>


<p><strong>user.name: </strong><%= user.name %> </p>
<p><strong>user.email: </strong><%= user.email %> </p>
<p><strong>user.allergies: </strong><%= user.allergies %> </p>
<p><strong>user: </strong><%= user %> </p>

<section>
    <h2>Add Allergies:</h2>
    <form action="/users/<%= user._id %>/allergies" method="POST" id='add-allergy-user-form'>
        <label>Allergies</label>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="gluten" id="defaultCheck1">
            <label class="form-check-label" for="defaultCheck1">Gluten</label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="dairy" id="defaultCheck2">
            <label class="form-check-label" for="defaultCheck2">Dairy</label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="eggs" id="defaultCheck3">
            <label class="form-check-label" for="defaultCheck3">Eggs</label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="finFish" id="defaultCheck4">
            <label class="form-check-label" for="defaultCheck4">Finned Fish</label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="shellFish" id="defaultCheck5">
            <label class="form-check-label" for="defaultCheck5">Shellfish</label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="treeNuts" id="defaultCheck6">
            <label class="form-check-label" for="defaultCheck6">Tree Nuts</label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="peanuts" id="defaultCheck7">
            <label class="form-check-label" for="defaultCheck7">Peanuts</label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="soybeans" id="defaultCheck8">
            <label class="form-check-label" for="defaultCheck8">Soy</label>
        </div>
        <input name="submit" type="submit" value="Add Allergies">
    </form>
</section>
<%- include('../partials/footer') %>