<%- include('../partials/header') %>






<% if (recipes.length) {%>
<% recipes.forEach(function(r) { %>
<div class="card" style="width:18rem;">
    <img class=" card-img-top" src="<%=r.imageUrl%>" alt="<%=r.recipeName%> image">
    <div class="card-body">
        <h5 class="card-title"><%= r.name %></h5>
        <p class="card-text">this recipe is blah free</p>
        <a href="<%=r.recipeUrl%>" class="btn btn-primary" target="_blank">View this recipe at <%=r.blogName%> </a>
    </div>
</div>

<% }); %>
<% } else { %>
<h3>No Recipes Yet!</h3>
<% } %>







<%- include('../partials/footer') %>