<%- include('../partials/header') %>

<p>hello it's recipes</p>
<%= recipe%>
<%= user%>


<p>thanks for saving <%= recipe.name %></p>
<p>it's great to have new recipes that are <%=allergy%> free!</p>

<h1><%=recipe.name%></h1>
<h2><%=recipe.blogName%></h2>
<img class="recipeImage" src="<%=recipe.imageUrl%>" alt="recipe image">

<%- include('../partials/footer') %>